# T5X prerequisite.
t5x @ git+https://github.com/google-research/t5x.git@main#egg=t5x
t5
seqio==0.0.13
optax==0.2.4

# OSS Vizier
google-vizier==0.0.20

# Proto
protobuf>=3.6,<4.0

# For the notebook
matplotlib

# Autodiff and numerical packages.
numpy>=1.21.5
tensorflow>=2.9.1
jax==0.4.28  # Use latest version for t5x.
jaxlib==0.4.28  # Use latest version for t5x.
flax==0.10.3  # Use latest version for t5x.

# Standard packages.
typing  # Version dependent on Python version.
pytest  # Use the latest version to match github workflow.
absl-py>=1.0.0
nest-asyncio>=1.5.6

# Experiment configuration utilities.
ml-collections==0.1.1


